<div>
    <strong style="color:brown">Commenter:</strong>
    <%= comment.commenter %>
</div>

<div>
    <strong style="color:green">Comment:</strong>
    <%= comment.body %>
</div>
<div>
<%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } , class:"btn btn-outline-danger btn-sm"%>
</div>
<br>

 